.filters-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	gap: 2rem;
	.filter-container {
		display: flex;
		align-items: center;
		gap: 1rem;
		flex: 1;
		width: fit-content;
		label {
			display: none;
		}
		.date-picker {
			padding: 1rem 1.5rem 1rem 2rem;
			display: flex;
			cursor: pointer;
			border-radius: 7px;
			border-color: transparent;
			font-size: inherit;
			width: 11.5rem;
		}
		.react-datepicker__calendar-icon {
			top: 50%;
			transform: translateY(-50%);
			color: white;
			fill: white;
		}
	}
	.news-feed-button {
		flex: 1;
		display: flex;
		width: fit-content;
		justify-content: flex-start;
		button {
			padding: 1rem 1.5rem;
			width: 15rem;
		}
	}
}
@media (min-width: 1150px) {
	.filters-container {
		.news-feed-button {
			justify-content: flex-end;
		}
	}
}
