.filters-container {
	width: 100%;
	display: flex;
	gap: 4rem;
	flex-wrap: wrap;
	.filter-container {
		display: flex;
		align-items: center;
		gap: 1rem;
		label{
			display: none;
		}
		.date-picker {
			padding: 1rem 1.5rem 1rem 2rem;
			display: flex;
			cursor: pointer;
			border-radius: 7px;
			border-color: transparent;
			font-size: inherit;
			width: 11.5rem;
		}
		.react-datepicker__calendar-icon {
			top: 50%;
			transform: translateY(-50%);
			color: white;
			fill: white;
		}
	}
}
@media (min-width: 1024px) {
	.filters-container {
		.filter-container {
			label {
				display: block;
			}
		}
	}
}
